@model ApiPoc.Representations.Home
<div id="home">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Home")</h2>
    @Html.Partial("Forms/UnusedLinksAndForms", Model)
</div>
