@model ApiPoc.Representations.Message
<div class="message">
    <h2>Message</h2>
    <p class="message-text">@Model.MessageText</p>
    @Html.Links(Model.GetLinkBag().GetUnusedPlainLinks())
</div>
