@model ApiPoc.Representations.SimpleRepresentation
@{
    ViewBag.Title = "Done!";
}
<div id="done">
    <h2>Done!</h2>
    <footer>
        @Html.Links(Model.GetLinkBag().GetUnusedSafeLinks())
    </footer>
</div>
