@model ApiPoc.Representations.OkRepresentation
@{
    ViewBag.Title = "Done!";
}
<div class="done">
    <h2>Done!</h2>
    <p class="message">@Model.Message</p>
    @Html.Links(Model.GetLinkBag().GetUnusedSafeLinks())
</div>
