@using ApiPoc.Representations
@using ApiPoc.Helpers
@model ApiPoc.Representations.SimpleRepresentation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Done!</title>
</head>
<body>
    <div id="delete">
        <h1>Done!</h1>
        <footer>
            @Html.Links(Model.GetLinkBag().GetUnusedSafeLinks())
        </footer>
    </div>
</body>
</html>
