@using ApiPoc.Representations
@using ApiPoc.Helpers
@model ApiPoc.Representations.ErrorRepresentation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error @Model.Code</title>
</head>
<body>
    <div id="home">
        <h1>Error @Model.Code</h1>
        <p>@Model.Message</p>
        <footer>
            @Html.Links(Model.GetLinkBag().GetUnusedLinks())
        </footer>
    </div>
</body>
</html>
