@model ApiPoc.Representations.SimpleRepresentation
@{
    ViewBag.Title = "Home";
}
<div id="home">
    <h2>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Home")</h2>
    <footer>
        @Html.Links(Model.GetLinkBag().GetUnusedSafeLinks())
    </footer>
</div>
