@using ApiPoc.Representations
@using ApiPoc.Helpers 
@model ApiPoc.Representations.HomeRepresentation
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <div id="home">
        <h1>@Html.Link(Model.GetLinkBag().GetFirstByRel(Rel.Self), customText: "Home")</h1>
        <footer>
            @Html.Links(Model.GetLinkBag().GetUnusedLinks())
        </footer>
    </div>
</body>
</html>