@model ApiPoc.Representations.IRepresentation
@{
    var link = Model.GetLinkBag().GetFirstByRel(Rel.Unsubscribe);
}

@if (link != null)
{
    <div class="unsubscribe">
        <h4>Unsubscribe</h4>
        @Html.EmptyForm(link, "Unsubscribe")
    </div>
}
